<a href="https://colab.research.google.com/github/Xemarij/Data-Preprartion-for-ML/blob/main/Dealing_with_Missing_Values_in_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import platform

In [ ]:
#Checking which OS this Google colab sesion is using
platform.platform()

'Linux-6.1.85+-x86_64-with-glibc2.35'

In [ ]:
#Checking our working directory
!pwd

/content

In [ ]:
#!wget https://openmv.net/file/class-grades.csv

In [ ]:
#import opendatasets as od

In [ ]:
#od.download('https://www.kaggle.com/datasets/ritwikb3/heart-disease-statlog')

In [ ]:
#!cp -r "/content/heart-disease-statlog" "/content/drive/My Drive/Train7"

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
csvFile1 = pd.read_csv('/content/drive/MyDrive/Train7//Heart_disease_statlog1.csv')

In [ ]:
csvFile1.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,70.0,1,3,130,322.0,0,2,109,0,2.4,1,3,1,1
1,67.0,0,2,115,564.0,0,2,160,0,1.6,1,0,3,0
2,57.0,1,1,124,261.0,0,0,141,0,0.3,0,0,3,1
3,64.0,1,3,128,263.0,0,0,105,1,0.2,1,1,3,0
4,74.0,0,1,120,269.0,0,2,121,1,0.2,0,1,1,0

In [ ]:
csvFile1.isnull()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,False,False,False,False,False,False,False,False,False,False,False,False,False,False
266,False,False,False,False,False,False,False,False,False,False,False,False,False,False
267,False,False,False,False,False,False,False,False,False,False,False,False,False,False
268,False,False,False,False,False,False,False,False,False,False,False,False,False,False
269,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
csvFile1.isnull().sum()

age         2
sex         0
cp          0
trestbps    0
chol        2
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
masky = csvFile1['age'].isnull()
masky

0      False
1      False
2      False
3      False
4      False
       ...
265    False
266    False
267    False
268    False
269    False
Name: age, Length: 270, dtype: bool

In [ ]:
csvFile1['age'][masky]

8    NaN
18   NaN
Name: age, dtype: float64

In [ ]:
csvFile1['chol'][masky]

8     293.0
18    211.0
Name: chol, dtype: float64

In [ ]:
mask = csvFile1['chol'].isnull()
mask

0      False
1      False
2      False
3      False
4      False
       ...
265    False
266    False
267    False
268    False
269    False
Name: chol, Length: 270, dtype: bool

In [ ]:
csvFile1['chol'][mask]

5    NaN
13   NaN
Name: chol, dtype: float64

In [ ]:
#Removing the missing values
csvFile2 = csvFile1.dropna()

In [ ]:
var1 = csvFile2['age'].isnull()
var1

0      False
1      False
2      False
3      False
4      False
       ...
265    False
266    False
267    False
268    False
269    False
Name: age, Length: 266, dtype: bool

In [ ]:
csvFile2['age'][var1]

Series([], Name: age, dtype: float64)

In [ ]:
csvFile2['age'].isnull().sum()

0

In [ ]:
df = csvFile1.fillna({'age':20, 'chol':100})

In [ ]:
df.head(30)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,70.0,1,3,130,322.0,0,2,109,0,2.4,1,3,1,1
1,67.0,0,2,115,564.0,0,2,160,0,1.6,1,0,3,0
2,57.0,1,1,124,261.0,0,0,141,0,0.3,0,0,3,1
3,64.0,1,3,128,263.0,0,0,105,1,0.2,1,1,3,0
4,74.0,0,1,120,269.0,0,2,121,1,0.2,0,1,1,0
5,65.0,1,3,120,100.0,0,0,140,0,0.4,0,0,3,0
6,56.0,1,2,130,256.0,1,2,142,1,0.6,1,1,2,1
7,59.0,1,3,110,239.0,0,2,142,1,1.2,1,1,3,1
8,20.0,1,3,140,293.0,0,2,170,0,1.2,1,2,3,1
9,63.0,0,3,150,407.0,0,2,154,0,4.0,1,3,3,1
10,59.0,1,3,135,234.0,0,0,161,0,0.5,1,0,3,0
11,53.0,1,3,142,226.0,0,2,111,1,0.0,0,0,3,0
12,44.0,1,2,140,235.0,0,2,180,0,0.0,0,0,1,0
13,61.0,1,0,134,100.0,0,0,145,0,2.6,1,2,1,1
14,57.0,0,3,128,303.0,0,2,159,0,0.0,0,1,1,0
15,71.0,0,3,112,149.0,0,0,125,0,1.6,1,0,1,0
16,46.0,1,3,140,311.0,0,0,120,1,1.8,1,2,3,1
17,53.0,1,3,140,203.0,1,2,155,1,3.1,2,0,3,1
18,20.0,1,0,110,211.0,0,2,144,1,1.8,1,0,1,0
19,40.0,1,0,140,199.0,0,0,178,1,1.4,0,0,3,0
20,67.0,1,3,120,229.0,0,2,129,1,2.6,1,2,3,1
21,48.0,1,1,130,245.0,0,2,180,0,0.2,1,0,1,0
22,43.0,1,3,115,303.0,0,0,181,0,1.2,1,0,1,0
23,47.0,1,3,112,204.0,0,0,143,0,0.1,0,0,1,0
24,54.0,0,1,132,288.0,1,2,159,1,0.0,0,1,1,0
25,48.0,0,2,130,275.0,0,0,139,0,0.2,0,0,1,0
26,46.0,0,3,138,243.0,0,2,152,1,0.0,1,0,1,0
27,51.0,0,2,120,295.0,0,2,157,0,0.6,0,0,1,0
28,58.0,1,2,112,230.0,0,2,165,0,2.5,1,1,3,1
29,71.0,0,2,110,265.0,1,2,130,0,0.0,0,1,1,0